@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
  body {
    font-family: "Karla", sans-serif;
    @apply text-primary leading-normal;
    /* background: #5f5555; */
  }
}
/*---------- ct-custom css------------ */
/* ct-image */
.ct-image {
  @apply inline-block w-full h-full;
}
/* ct-icon */
.ct-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.ct-container-secondary {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
img.ct-icon {
  @apply h-6 w-6;
}
.ct-overlay {
  background-image: linear-gradient(180deg, rgb(29, 31, 46), rgb(29, 31, 46));
  width: 100%;
  height: 100%;
}
/* ------------header-------------- */
.ct-menu {
  @apply sm:absolute sm:top-full sm:left-0 sm:block sm:w-full sm:text-center sm:-z-10 sm:bg-white md:absolute md:top-full md:left-0 md:block md:w-full md:text-center md:-z-10 md:bg-white;
}
/* ---------------through------------------------- */
.ct-through-heading {
  @apply before:absolute before:left-1/2 before:top-1/2 before:w-full before:h-px before:-translate-x-1/2 before:-translate-y-1/2 before:scale-x-150 before:bg-ct-gray before:-z-10;
}
/* --------------fade-in--------------------------- */
.ct-fade {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.ct-fade-in {
  opacity: 1;
  transform: translateY(0);
}
/* --------------heading----------------------- */
.ct-heading-h3 {
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word; */
  @apply line-clamp-3 break-words;
}
.ct-heading-h2 {
  @apply text-5xl leading-normal font-light;
}
/* ---------------responsive------------ */
.ct-responsive-pd {
  @apply sm:p-4 md:p-4;
}
.ct-responsive-mb {
  @apply md:mb-3 sm:mb-3;
}
